In [1]:
print("Hello World")

Hello World

In [2]:
import pandas as pd

In [7]:
df = pd.read_csv("covid_north_america.csv")

In [8]:
df

,Country/Other,Total Cases,Total Deaths,Total Recovered,Active Cases,Total Cases/1 mil population,Deaths/1 mil population,Total Tests,Tests/1 mil population,Population
0,Anguilla,944,1.0,832,111,62183,66.0,47917.0,3156380.0,15181
1,Antigua and Barbuda,4058,102.0,3726,230,40987,1030.0,17674.0,178511.0,99008
2,Aruba,15925,171.0,15577,177,148320,1593.0,177885.0,1656763.0,107369
3,Bahamas,22351,643.0,21079,629,56124,1615.0,156253.0,392357.0,398242
4,Barbados,17763,153.0,11506,6104,61711,532.0,388760.0,1350597.0,287843
5,Belize,26798,491.0,23706,2601,65808,1206.0,308186.0,756808.0,407218
6,Bermuda,5647,101.0,5462,84,91122,1630.0,593903.0,9583409.0,61972
7,British Virgin Islands,2725,37.0,2649,39,89347,1213.0,82570.0,2707302.0,30499
8,Canada,1714414,28968.0,1659368,26078,44901,759.0,46092312.0,1207163.0,38182348
9,Caribbean Netherlands,2435,19.0,2340,76,91724,716.0,25579.0,963536.0,26547
10,Cayman Islands,1650,2.0,1002,646,24720,30.0,138625.0,2076841.0,66748
11,Costa Rica,559698,7029.0,500425,52244,108553,1363.0,2544016.0,493409.0,5155994
12,Cuba,952001,8236.0,939816,3949,84118,728.0,10521065.0,929635.0,11317411
13,Cura√ßao,17084,174.0,16798,112,103548,1055.0,314005.0,1903222.0,164986
14,Dominica,4823,32.0,4337,454,66778,443.0,92406.0,1279436.0,72224
15,Dominican Republic,381667,4130.0,371100,6437,34720,376.0,2216354.0,201622.0,10992595
16,El Salvador,113422,3629.0,94980,14813,17370,556.0,1357788.0,207938.0,6529758
17,Greenland,799,NaN,723,76,14042,NaN,87340.0,1534947.0,56901
18,Grenada,5840,198.0,5519,123,51582,1749.0,81311.0,718187.0,113217
19,Guadeloupe,54537,742.0,2250,51545,136269,1854.0,495286.0,1237550.0,400215
20,Guatemala,601572,15094.0,580691,5787,32773,822.0,2909198.0,158489.0,18355851
21,Haiti,23960,671.0,20345,2944,2068,58.0,131683.0,11364.0,11587356
22,Honduras,375381,10240.0,115886,249255,37115,1012.0,1089253.0,107698.0,10113965
23,Jamaica,89014,2236.0,57904,28874,29887,751.0,641347.0,215335.0,2978368
24,Martinique,42634,670.0,104,41860,113728,1787.0,376921.0,1005450.0,374878
25,Mexico,3807211,288365.0,3168911,349935,29122,2206.0,11346642.0,86792.0,130734334
26,Montserrat,41,1.0,34,6,8207,200.0,1408.0,281825.0,4996
27,Nicaragua,16422,207.0,4225,11990,2440,31.0,NaN,NaN,6729357
28,Panama,472664,7315.0,463045,2304,107301,1661.0,4075012.0,925080.0,4405039
29,Saint Kitts and Nevis,2669,23.0,2511,135,49702,428.0,52204.0,972142.0,53700
30,Saint Lucia,12559,255.0,11959,345,67981,1380.0,86659.0,469076.0,184744
31,Saint Martin,3872,56.0,1399,2417,97921,1416.0,54303.0,1373299.0,39542
32,Sint Maarten,4494,75.0,4389,30,103256,1723.0,53105.0,1220159.0,43523
33,St. Barth,1589,6.0,462,1121,160230,605.0,38369.0,3869013.0,9917
34,St. Vincent Grenadines,4995,68.0,3108,1819,44835,610.0,86254.0,774210.0,111409
35,Trinidad and Tobago,57329,1696.0,50732,4901,40788,1207.0,395133.0,281129.0,1405520
36,Turks and Caicos,2980,23.0,2902,55,75610,584.0,94789.0,2405019.0,39413
37,USA,46823938,766299.0,36715313,9342326,140366,2297.0,698692194.0,2094493.0,333585423

In [9]:
df.head()

,Country/Other,Total Cases,Total Deaths,Total Recovered,Active Cases,Total Cases/1 mil population,Deaths/1 mil population,Total Tests,Tests/1 mil population,Population
0,Anguilla,944,1.0,832,111,62183,66.0,47917.0,3156380.0,15181
1,Antigua and Barbuda,4058,102.0,3726,230,40987,1030.0,17674.0,178511.0,99008
2,Aruba,15925,171.0,15577,177,148320,1593.0,177885.0,1656763.0,107369
3,Bahamas,22351,643.0,21079,629,56124,1615.0,156253.0,392357.0,398242
4,Barbados,17763,153.0,11506,6104,61711,532.0,388760.0,1350597.0,287843

In [10]:
df.describe()

,Total Cases,Total Deaths,Total Recovered,Active Cases,Total Cases/1 mil population,Deaths/1 mil population,Total Tests,Tests/1 mil population,Population
count,3.800000e+01,37.000000,3.800000e+01,3.800000e+01,38.000000,37.000000,3.700000e+01,3.700000e+01,3.800000e+01
mean,1.480208e+06,31031.297297,1.181240e+06,2.687535e+05,66769.921053,1007.891892,2.123956e+07,1.318546e+06,1.566431e+07
std,7.585157e+06,132928.839813,5.949429e+06,1.513258e+06,41768.641901,628.590477,1.147321e+08,1.667360e+06,5.729783e+07
min,4.100000e+01,1.000000,3.400000e+01,6.000000e+00,2068.000000,30.000000,1.408000e+03,1.136400e+04,4.996000e+03
25%,3.918500e+03,56.000000,2.545500e+03,1.260000e+02,35318.750000,556.000000,8.257000e+04,2.818250e+05,5.816875e+04
50%,1.675300e+04,207.000000,8.512500e+03,2.061500e+03,61947.000000,1012.000000,1.778850e+05,9.635360e+05,2.362935e+05
75%,1.073200e+05,3629.000000,8.571100e+04,1.060175e+04,96371.750000,1593.000000,1.089253e+06,1.534947e+06,6.186317e+06
max,4.682394e+07,766299.000000,3.671531e+07,9.342326e+06,160230.000000,2297.000000,6.986922e+08,9.583409e+06,3.335854e+08

In [12]:
df["Total Cases"]

0          944
1         4058
2        15925
3        22351
4        17763
5        26798
6         5647
7         2725
8      1714414
9         2435
10        1650
11      559698
12      952001
13       17084
14        4823
15      381667
16      113422
17         799
18        5840
19       54537
20      601572
21       23960
22      375381
23       89014
24       42634
25     3807211
26          41
27       16422
28      472664
29        2669
30       12559
31        3872
32        4494
33        1589
34        4995
35       57329
36        2980
37    46823938
Name: Total Cases, dtype: int64

In [17]:
names = data['Nationals Pitchers']
data_file = open('first-project.csv','w')
csv_writer = csv.writer(data_file)
csv_writer.writerow(names[0].keys())
for name in names:
    csv_writer.writerow(name.values())
data_file.close()

In [18]:
df = pd.read_csv('first-project.csv')
df

    Joan Adon
0          60
1          40
2          49
3          46
4          23
5          40
6          21
7          65
8          51
9          50
10         33

In [19]:
import json
import csv
import pandas as pd

In [ ]:
with open('first-project.json') as json_file:
    data = json.load(json_file)
print(data)